---
import BreadCrumb from "@/components/BreadCrumb.astro";
import PropertyPage from "@/components/preact/Property/PropertyPage";

import Layout from "@/layouts/Layout.astro";
import { min } from "astro:db";
// Extraemos el ultimo segmento de la url

const session = Astro.locals.session;
const { propiedad } = Astro.params;
const url = Astro.url;
let prop = url.toString().split("/").pop();

let suc = prop?.split("-")[0] ?? "";
let id = prop?.split("-")[1] ?? "";
---

<Layout title="Detalle de Propieda" description="Detalle de Propiedad">
  <section class="bg-[#FFFBF4] h-full py-2">

      <PropertyPage
      client:only
      session={session  ?? null}
        propertyCode={id}
        branchCode={suc}
        breadCrumbChild=""
      >
        <BreadCrumb slot="breadCrumbChild" url={propiedad} transition:persist />
   
      </PropertyPage>
   
  </section>
</Layout>
