---
import Layout from "@/layouts/Layout.astro"

const title = 'Invertir en USA  |  Inversiones en Estados Unidos'
const description = 'Invertir en USA es una excelente opción para diversificar tu portafolio de inversiones. Conoce las mejores opciones para invertir en Estados Unidos.'
---
<Layout title={title} description={description}>
    <article>
        <h1> Invertir en USA</h1>
    </article>
</Layout>