---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/ui/Link.astro";
import ArrowRightIcon from "@/components/preact/Icons/ArrowRightIcon";
const title = ' 404 - página no encontrada'
const description = 'Página no encontrada'
---
<Layout title={title} description={description}>
    <article>
<section class=" bg-secondary-bg-msb py-24">
    <div
    class=" md:px-22 py-12 md:py-22 lg:py-24 w-100 text-center md:text-start lg:text-start lg:text-2xl md:text-xl"
  >
    <h1 class="md:text-[16rem] text-7xl  text-secondary-text-msb text-center font-bold font-">404</h1>
    <img class="mx-auto" src="/images/404.webp"/>
    <p class="text-secondary-text-msb font-semibold text-center py-5">
       ¡UPS! Parece que la página que buscas no existe.
    </p>
    <Link href="/"  class="flex items-center justify-center w-fit mx-auto py-6 h-10 px-4 border rounded bg-primary-msb text-tertiary-text-msb hover:bg-primary-bg-hover-msb cursor-pointer font-medium font-primary-font-msb border-text-primary-msb transition">
        <div class="flex gap-3 justify-center items-center w-fit">
            <span>Volver al inicio</span>

            <ArrowRightIcon class="size-8 w-fit"/>
        </div>
    </Link>
    </div>
</section>
</article>
</Layout>