---
import Layout from "@layouts/Layout.astro";
---

<Layout title="registrar" description="">
	<h1>Sign up</h1>
	<form id="form-singup" method="post" action="/api/signup.json">
		<label for="username">Username</label>
		<input id="username" name="username" />
		<label for="password">Password</label>
		<input id="password" name="password" />
		<p id="form-error"></p>
		<button>Continue</button>
	</form>
</Layout>

<script>
	const errorMessageElement = document.getElementById("form-error")!;
	const singUpForm = document.getElementById("form-singup") as HTMLFormElement;
	singUpForm.addEventListener("click", async (e) => {
	e.preventDefault();

	const formData = new FormData(singUpForm);
	const values = Object.fromEntries(formData);
	console.log(values)
	try {
	  /* Call to endpoint POST user */
	  const res = await fetch("/api/singup.json/", {
		method: "POST",
		body: JSON.stringify(values),
	  });
	  const data = await res.json();
	  /* Refresh */

	  if (data.ok) {
			window.location.href = "/";
		} else {
			errorMessageElement.innerText = (await data.json()).error;
		}
	  console.log(res);
	} catch (err) {
	  console.log(err);
	}
  });
</script>