---
import Layout from "@/layouts/Layout.astro"

const title = 'Tasaciones - Matías Szpira Bienes Raíces '
const description = 'Tasaciones de propiedades en Buenos Aires, Argentina. Matías Szpira Bienes Raíces. '
---
<Layout title={title} description={description}>
    <article>
        <h1> Invertir en USA</h1>
    </article>
</Layout>