---
import { Image } from "astro:assets";
import clsx from "clsx";
import { twMerge } from "tailwind-merge";

interface Props {
  img: string;
  className?: string;
  h?: number;
  w?: number;
}

const { img, className, h = 700, w = 1440 } = Astro.props;
const slotStyles = twMerge(
  clsx(
    "absolute inset-0 m-auto w-full h-full flex justify-center flex-col items-center bg-black bg-opacity-30",
    className
  )
);
---

<section
  class="relative bg-no-repeat z-0 bg-origin-content h-[100vh] md:h-[80vh] lg:h-100 w-full max-w-[100vw]"
>
  <Image
    width={w}
    height={h}
    class="absolute h-full w-full animate-fadeIn object-cover object-center animate-duration-1000 animate-ease-in-out z-0"
    src={img}
    loading="eager"
    alt="Hero image"
  />
  <div class={slotStyles}>
    <slot />
  </div>
</section>
