---

---

<div>
  <div id="spinner" class="animate-pulse flex justify-center items-center h-100">
    <slot name="loading-indicator" />
  </div>
  <div id="content" class="hidden">
    <slot name="main-content" />
  </div>
</div>

<script is:inline>
  document.addEventListener("astro:before-preparation", () => {
    document.querySelector("#spinner").classList.remove("hidden");
    document.querySelector("#content").classList.add("hidden");
  });

  document.addEventListener("astro:after-preparation", () => {
    setTimeout(() => {
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#content").classList.remove("hidden");
      document.querySelector("#content").classList.add("animate-fadeIn");
    }, 250); // 2000 ms = 2 seconds
  });
</script>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const spinner = document.querySelector("#spinner");
    const content = document.querySelector("#content");
    if (spinner) spinner.classList.remove("hidden");
    if (content) content.classList.add("hidden");

    setTimeout(() => {
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#content").classList.remove("hidden");
    }, 250); // 400 ms = 0.4 seconds
  });
</script>
<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const spinner = document.querySelector("#spinner");
    const content = document.querySelector("#content");
    if (spinner) spinner.classList.remove("hidden");
    if (content) content.classList.add("hidden");

    setTimeout(() => {
      if (spinner) spinner.classList.add("hidden");
      if (content) content.classList.remove("hidden");
    }, 250); // 250 ms = 0.25 seconds
  });
</script>