---
import ResultsPage from "@/components/preact/Results/ResultsPage";
import type {
  ResultLocation,
  Results,
} from "@/interfaces/selects.form.interfaces";
import Layout from "@/layouts/Layout.astro";
import { getAllSelects, getLocations } from "@/services/get-selects-form";

const session = Astro.locals.session

/* Fetch selects */
const selects = (await getAllSelects()) as Results;
const locations = (await getLocations()) as ResultLocation;

---

<Layout title="Resultados de Busqueda" description="Busca tu propiedad">
  <article class="bg-secondary-bg-msb h-full md:px-8 lg:px-10">
    <div class="container mx-auto" style="view-transition-name: image">
      <ResultsPage session={session  || null} selects={selects} locations={locations} client:only="preact" transition:persist  />
    </div>
  </article>
</Layout>
<!-- <article class="bg-secondary-bg-msb h-full relative  w-100 lg:block md:px-8 lg:px-10">
  <div  class="container mx-auto flex justify-between items-center py-4" style="view-transition-name: image">
    <ResultsPage session={session  || null} selects={selects} locations={locations} client:only transition:persist  />
  </div>
</article> -->