---
import Layout from "@layouts/Layout.astro";


const {propiedad} = Astro.params;
    console.log(propiedad,'propiedad')
---

<Layout title="Detalle de Propieda" description="Detalle de Propiedad">
 <!--  <BreadCrumb url={propiedad} transition:persist /> -->
  <h1>Detalle de Propiedad</h1>
  <p>Esta es la página de detalle de propiedad</p>
</Layout>
