.input-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.input-file-icon {
  display: flex;
  justify-content:  flex-end;
  padding-right: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
}
.input-file-upload input[type="file"] {
  display: none;
  
}