---
import Layout from "@layouts/Layout.astro"

const title = 'Favoritos - Matías Szpira Bienes Raíces '
const description = 'Tus propiedades favoritas en un solo lugar. Matías Szpira Bienes Raíces te ofrece la posibilidad de guardar tus propiedades favoritas para que puedas verlas cuando quieras. No te pierdas esta oportunidad de invertir en USA con Matías Szpira Bienes Raíces'
---
<Layout title={title} description={description}>
    <article>
        <h1> Favoritos</h1>
    </article>
</Layout>