---
import AccountForm from "@/components/preact/Account/AccountForm";
import ChangePasswordForm from "@/components/preact/Account/ChangePasswordForm";
import DangeForm from "@/components/preact/Account/DangeForm";
import Layout from "@/layouts/Layout.astro";
const title = "Mi Cuenta";
const description = "Administrá tus datos personales y de contacto";

const user = Astro?.locals?.user;
const session = Astro.locals.session;

if (!session) {
  return Astro.redirect("/");
}
---

<Layout title={title} description={description}>
  <article class="bg-secondary-bg-msb h-full">
    <section class="bg-secondary-bg-msb font-gotham">
      <div class="container mx-auto">
        <div class="pt-10 pb-5">
          <h1
            class="font-bold text-center tracking-normal pb-5 text-xl md:text-2xl lg:text-3xl uppercase"
          >
            MI CUENTA
          </h1>
          <p class="text-lg text-primary-text-msb text-center pb-10">
            Administrá tus datos personales y de contacto
          </p>
        </div>
      </div>
    </section>
    <section class="bg-secondary-bg-msb">
      <div class="mx-auto container mt-16 mb-5">
        <AccountForm client:load userData={user ?? null} />
        <ChangePasswordForm userData={user ?? null} client:load />
        <DangeForm userData={user ?? null} client:load />
      </div>
    </section>
  </article>
</Layout>
